<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SMOKE" parallel="methods" thread-count="6">
    <listeners>
        <!--<listener class-name="utils.Listeners"/>-->
        <!--<listener class-name="utils.ExtentReporterNG"/>-->
        <listener class-name="utils.TestListeners"/>
    </listeners>

    <test name="First Test Suite">
        <groups>
            <run>
                <include name="SMOKE"/>
            </run>
        </groups>
        <classes>
            <!--<class name="logging.LombokPlugin"/>-->
            <class name="getYourGuide.DataProviderTests"/>
                <!--<methods>-->
                    <!--<include name="test1"/>-->
                    <!--<include name="test2"/>-->
                <!--</methods>-->
        </classes>
    </test>
</suite> 
