<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SMOKE" parallel="tests" thread-count="6">
    <listeners>
        <listener class-name="utils.Listeners"/>
        <listener class-name="utils.ExtentReporterNG"/>
    </listeners>

    <test name="Personal loan">
        <parameter name="URL" value="personalloan.com"/>
        <classes>
            <class name="logging.LombokPlugin">
                <!--<methods>-->
                    <!--&lt;!&ndash;<include name="testCaseForFailing"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<include name="helloTest"/>&ndash;&gt;-->
                    <!--<include name="test1"/>-->
                    <!--<include name="test2"/>-->

                <!--</methods>-->
            </class>
        </classes>
    </test>
    <!--<test name="Car Loan">-->
    <!--<parameter name="URL" value="carloan.com"/>-->
    <!--<parameter name="APIKey/usrname" value="123456"/>-->
    <!--<classes>-->

    <!--<class name="test.day3">-->
    <!--<methods>-->
    <!--<exclude name="API.*"/>-->
    <!--</methods>-->
    <!--</class>-->
    <!--</classes>-->
    <!--</test>-->
</suite> 
